body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/img/wallpaperfundo.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 1920px;
    background-attachment: fixed;
}

spam {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 0 0 15px rgb(255, 255, 255);
}

@font-face {
    font-family: elden;
    src: url("/fonts/Mantinia_Regular.otf") format("opentype");
}

@font-face {
    font-family: Vogue;
    src: url("/fonts/Vogue.ttf") format("truetype");
}

.logo {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 300px;
    margin-right: 0px;
}

.voltar-link {
    position: relative;
    top: -210px;
    left: 1765px;
    padding: 10px 8px;
    width: 50px;
    color: burlywood;
    background: black;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    font-family: "elden";
    font-size: 16px;
}

.voltar-link:hover {
    background: white;
    transition: 0.6s;
}

.voltar-link:hover {
    box-shadow: 2px 2px 2px white;
    transition: 0.6s;
}

.entenda {
    font-family: "elden";
    position: absolute;
    top: 200px;
    left: 43%;
    font-size: 25px;
}

.entenda2 {
    position: absolute;
    top: 330px;
    left: 520px;
    color: burlywood;
    width: 750px;
    font-size: 25px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.h1titulo {
    font-family: "elden";
    position: absolute;
    top: 650px;
    left: 565px;
    font-size: 40px;
}

.h1titulo2 {
    font-family: "elden";
    position: absolute;
    top: 700px;
    left: 635px;
    font-size: 15px;
    color: burlywood;
    text-shadow: 0 0 7px burlywood;
}

.marika {
    position: absolute;
    top: 780px;
    left: 575px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: 0.5s;
}

.marika:hover {
    transform: scale(1.1);
}

.h1 {
    position: absolute;
    top: 1200px;
    left: 520px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.h2 {
    position: absolute;
    top: 1320px;
    left: 520px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.h3 {
    position: absolute;
    top: 1440px;
    left: 520px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.h4 {
    position: absolute;
    top: 1560px;
    left: 520px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.h5 {
    position: absolute;
    top: 1680px;
    left: 520px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.h2titulo {
    font-family: "elden";
    position: absolute;
    top: 1850px;
    left: 565px;
    font-size: 40px;
}

.h2titulo2 {
    font-family: "elden";
    position: absolute;
    top: 1900px;
    left: 635px;
    font-size: 15px;
    color: burlywood;
    text-shadow: 0 0 7px burlywood;
}

.facas {
    position: absolute;
    top: 1980px;
    left: 575px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: 0.5s;
}

.facas:hover {
    transform: scale(1.1);
}

.h6 {
    position: absolute;
    top: 2400px;
    left: 520px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.h7 {
    position: absolute;
    top: 2550px;
    left: 520px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.h8 {
    position: absolute;
    top: 2670px;
    left: 520px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.h9 {
    position: absolute;
    top: 2790px;
    left: 520px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.h10 {
    position: absolute;
    top: 2910px;
    left: 520px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.h3titulo {
    font-family: "elden";
    position: absolute;
    top: 3050px;
    left: 565px;
    font-size: 40px;
}

.h3titulo2 {
    font-family: "elden";
    position: absolute;
    top: 3100px;
    left: 700px;
    font-size: 15px;
    color: burlywood;
    text-shadow: 0 0 7px burlywood;
}

.maleniaradahn {
    position: absolute;
    top: 3180px;
    left: 575px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: 0.5s;
}

.maleniaradahn:hover {
    transform: scale(1.1);
}

.h11 {
    position: absolute;
    top: 3640px;
    left: 520px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.h12 {
    position: absolute;
    top: 3760px;
    left: 520px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.borda1 {
    position: absolute;
    border: 1px solid burlywood;
    width: 800px;
    height: 250px;
    top: 300px;
    left: 490px;
    box-shadow: 0 0 15px burlywood;
    border-radius: 10px;
}

.bordafundo1 {
    background-color: black;
    opacity: 70%;
    position: absolute;
    width: 800px;
    height: 250px;
    top: 300px;
    left: 490px;
    border-radius: 10px;
}

.borda2 {
    position: absolute;
    border: 1px solid burlywood;
    width: 800px;
    height: 650px;
    top: 1170px;
    left: 490px;
    box-shadow: 0 0 15px burlywood;
    border-radius: 10px;
}

.bordafundo2 {
    background-color: black;
    opacity: 70%;
    position: absolute;
    width: 800px;
    height: 650px;
    top: 1170px;
    left: 490px;
    border-radius: 10px;
}

.borda3 {
    position: absolute;
    border: 1px solid burlywood;
    width: 800px;
    height: 650px;
    top: 2370px;
    left: 490px;
    box-shadow: 0 0 15px burlywood;
    border-radius: 10px;
}

.bordafundo3 {
    background-color: black;
    opacity: 70%;
    position: absolute;
    width: 800px;
    height: 650px;
    top: 2370px;
    left: 490px;
    border-radius: 10px;
}

.borda4 {
    position: absolute;
    border: 1px solid burlywood;
    width: 800px;
    height: 330px;
    top: 3610px;
    left: 490px;
    box-shadow: 0 0 15px burlywood;
    border-radius: 10px;
}

.bordafundo4 {
    background-color: black;
    opacity: 70%;
    position: absolute;
    width: 800px;
    height: 330px;
    top: 3610px;
    left: 490px;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: burlywood;
    border: 1px solid white;
    border-radius: 10px;
    width: 10px;
}