body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/img/wallpaperfundo.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 1920px;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: burlywood;
    border: 1px solid white;
    border-radius: 10px;
    width: 10px;
}

spam {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 0 0 15px rgb(255, 255, 255);
}

@font-face {
    font-family: elden;
    src: url("/fonts/Mantinia_Regular.otf") format("opentype");
}

@font-face {
    font-family: Vogue;
    src: url("/fonts/Vogue.ttf") format("truetype");
}

.logo {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 300px;
    margin-right: 0px;
}

.voltar-link {
    position: relative;
    top: -210px;
    left: 1765px;
    padding: 10px 8px;
    width: 50px;
    color: burlywood;
    background: black;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    font-family: "elden";
    font-size: 16px;
}

.voltar-link:hover {
    background: white;
    transition: 0.6s;
}

.voltar-link:hover {
    box-shadow: 2px 2px 2px white;
    transition: 0.6s;
}

.limgraveocidental {
    font-family: "elden";
    position: absolute;
    left: 750px;
    top: 280px;
    font-size: 40px;
}

.varreimg {
    position: absolute;
    left: 40px;
    top: 400px;
    box-shadow: 10px 10px 10px black;
    transition: 0.5s;
}

.varreimg:hover {
    transform: scale(1.1);
}

.varreh1 {
    position: absolute;
    top: 540px;
    left: 880px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.melinaimg {
    position: absolute;
    right: 40px;
    top: 1000px;
    box-shadow: -10px 10px 10px black;
    transition: 0.5s;
}

.melinaimg:hover {
    transform: scale(1.1);
}

.melinah1 {
    position: absolute;
    top: 1130px;
    right: 880px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.rennalaimg {
    position: absolute;
    left: 40px;
    top: 1600px;
    box-shadow: 10px 10px 10px black;
    transition: 0.5s;
}

.rennalaimg:hover {
    transform: scale(1.1);
}

.rennalah1 {
    position: absolute;
    top: 1760px;
    left: 880px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.bocimg {
    position: absolute;
    right: 40px;
    top: 2180px;
    box-shadow: -10px 10px 10px black;
    transition: 0.5s;
}

.bocimg:hover {
    transform: scale(1.1);
}

.boch1 {
    position: absolute;
    top: 2360px;
    right: 880px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.yuraimg {
    position: absolute;
    left: 40px;
    top: 2750px;
    box-shadow: 10px 10px 10px black;
    transition: 0.5s;
}

.yuraimg:hover {
    transform: scale(1.1);
}

.yurah1 {
    position: absolute;
    top: 2920px;
    left: 880px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.roderikaimg {
    position: absolute;
    right: 40px;
    top: 3360px;
    box-shadow: -10px 10px 10px black;
    transition: 0.5s;
}

.roderikaimg:hover {
    transform: scale(1.1);
}

.roderikah1 {
    position: absolute;
    top: 3530px;
    right: 880px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.sellenimg {
    position: absolute;
    left: 40px;
    top: 3900px;
    box-shadow: 10px 10px 10px black;
    transition: 0.5s;
}

.sellenimg:hover {
    transform: scale(1.1);
}

.sellenh1 {
    position: absolute;
    top: 4070px;
    left: 880px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.bernahlimg {
    position: absolute;
    right: 40px;
    top: 4500px;
    box-shadow: -10px 10px 10px black;
    transition: 0.5s;
}

.bernahlimg:hover {
    transform: scale(1.1);
}

.bernahlh1 {
    position: absolute;
    top: 4670px;
    right: 880px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.patchesimg {
    position: absolute;
    left: 40px;
    top: 5070px;
    box-shadow: 10px 10px 10px black;
    transition: 0.5s;
}

.patchesimg:hover {
    transform: scale(1.1);
}

.patchesh1 {
    position: absolute;
    top: 5220px;
    left: 880px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.limgraveoriental {
    font-family: "elden";
    position: absolute;
    left: 750px;
    top: 5700px;
    font-size: 40px;
}

.alexanderimg {
    position: absolute;
    right: 40px;
    top: 5900px;
    box-shadow: -10px 10px 10px black;
    transition: 0.5s;
}

.alexanderimg:hover {
    transform: scale(1.1);
}

.alexanderh1 {
    position: absolute;
    top: 6020px;
    right: 880px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.kennethhaightimg {
    position: absolute;
    left: 40px;
    top: 6460px;
    box-shadow: 10px 10px 10px black;
    transition: 0.5s;
}

.kennethhaightimg:hover {
    transform: scale(1.1);
}

.kennethhaighth1 {
    position: absolute;
    top: 6630px;
    left: 880px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.dcaçadordosmortosimg {
    position: absolute;
    right: 40px;
    top: 7030px;
    box-shadow: -10px 10px 10px black;
    transition: 0.5s;
}

.dcaçadordosmortosimg:hover {
    transform: scale(1.1);
}

.dcaçadordosmortosh1 {
    position: absolute;
    top: 7160px;
    right: 880px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.blaiddimg {
    position: absolute;
    left: 40px;
    top: 7600px;
    box-shadow: 10px 10px 10px black;
    transition: 0.5s;
}

.blaiddimg:hover {
    transform: scale(1.1);
}

.blaiddh1 {
    position: absolute;
    top: 7760px;
    left: 880px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.penínsuladaslágrimas {
    font-family: "elden";
    position: absolute;
    left: 750px;
    top: 8230px;
    font-size: 40px;
}

.irinaimg {
    position: absolute;
    right: 40px;
    top: 8460px;
    box-shadow: -10px 10px 10px black;
    transition: 0.5s;
}

.irinaimg:hover {
    transform: scale(1.1);
}

.irinah1 {
    position: absolute;
    top: 8650px;
    right: 880px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.edgarimg {
    position: absolute;
    left: 40px;
    top: 9060px;
    box-shadow: 10px 10px 10px black;
    transition: 0.5s;
}

.edgarimg:hover {
    transform: scale(1.1);
}

.edgarh1 {
    position: absolute;
    top: 9250px;
    left: 880px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.castelotempesvéu {
    font-family: "elden";
    position: absolute;
    left: 750px;
    top: 9660px;
    font-size: 40px;
}

.rogierimg {
    position: absolute;
    right: 40px;
    top: 9900px;
    box-shadow: -10px 10px 10px black;
    transition: 0.5s;
}

.rogierimg:hover {
    transform: scale(1.1);
}

.rogierh1 {
    position: absolute;
    top: 10050px;
    right: 880px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.gostocimg {
    position: absolute;
    left: 40px;
    top: 10450px;
    box-shadow: 10px 10px 10px black;
    transition: 0.5s;
}

.gostocimg:hover {
    transform: scale(1.1);
}

.gostoch1 {
    position: absolute;
    top: 10580px;
    left: 880px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.nephelilouxoimg {
    position: absolute;
    right: 40px;
    top: 11060px;
    box-shadow: -10px 10px 10px black;
    transition: 0.5s;
}

.nephelilouxoimg:hover {
    transform: scale(1.1);
}

.nephelilouxh1 {
    position: absolute;
    top: 11150px;
    right: 880px;
    color: burlywood;
    width: 750px;
    font-size: 20px;
    font-family: "elden";
    text-shadow: 0 0 7px burlywood;
}

.mesaredonda {
    font-family: "elden";
    position: absolute;
    left: 750px;
    top: 11660px;
    font-size: 40px;
    text-shadow: 0 0 15px rgb(255, 255, 255);
}